HOST_DATA_DIR=./data
RECORDED_DIR=./recorded
MIRAKURUN_CONFIG_DIR=./data/mirakurun/conf
MIRAKURUN_DATA_DIR=./data/mirakurun/data
EPG_DB_DIR=./data/mariadb
EPGSTATION_CONFIG_DIR=./data/epgstation/config
EPGSTATION_DATA_DIR=./data/epgstation/data
EPGSTATION_THUMBNAIL_DIR=./data/epgstation/thumbnail
EPGSTATION_LOGS_DIR=./data/epgstation/logs
TZ=Asia/Tokyo
LEGACY_MIRAKURUN_CONF_DIR=

MIRAKURUN_PORT=40772
MIRAKURUN_DEBUG_PORT=9229
EPGSTATION_PORT=8888
EPGSTATION_PREVIEW_PORT=8889
MIRAKURUN_HOSTNAME=localhost
EPG_MIRAKURUN_URL=http://mirakurun:40772/

EPG_DB_NAME=epgstation
EPG_DB_HOST=epg-sql
EPG_DB_PORT=3306
EPG_DB_USER=epgstation
EPG_DB_PASSWORD=change-me
EPG_DB_ROOT_PASSWORD=change-me-root

EPGSTATION_UID=1000
EPGSTATION_GID=1000
