*.swp
*.log
*.log.*
*.log-*
.DS_Store
.env
.env.local
.env.local.*

data/*
!data/.gitkeep
!data/mirakurun/
!data/mirakurun/.gitkeep
!data/mirakurun/conf/
data/mirakurun/conf/*
!data/mirakurun/conf/.gitkeep
!data/mirakurun/data/
data/mirakurun/data/*
!data/mirakurun/data/.gitkeep
!data/mariadb/
data/mariadb/*
!data/mariadb/.gitkeep
!data/epgstation/
!data/epgstation/.gitkeep
!data/epgstation/config/
data/epgstation/config/*
!data/epgstation/config/.gitkeep
!data/epgstation/data/
data/epgstation/data/*
!data/epgstation/data/.gitkeep
!data/epgstation/logs/
data/epgstation/logs/*
!data/epgstation/logs/.gitkeep
!data/epgstation/thumbnail/
data/epgstation/thumbnail/*
!data/epgstation/thumbnail/.gitkeep
data/mirakurun/mira_sql/*

mirakurun/*
!mirakurun/data/
mirakurun/data/*
!mirakurun/data/.gitkeep

epgstation/*
!epgstation/data/
!epgstation/data/streamfiles/
epgstation/data/streamfiles/*
!epgstation/data/streamfiles/.gitkeep
!epgstation/logs/
!epgstation/logs/Operator/
epgstation/logs/Operator/*
!epgstation/logs/Operator/.gitkeep
!epgstation/logs/Service/
epgstation/logs/Service/*
!epgstation/logs/Service/.gitkeep
!epgstation/thumbnail/
epgstation/thumbnail/*
!epgstation/thumbnail/.gitkeep

recorded/*
!recorded/.gitkeep
