*.swp
*.log
*.log.*
*.log-*
.DS_Store
.env
.env.local

data/*
!data/.gitkeep
!data/mirakurun/
!data/mirakurun/.gitkeep
!data/mirakurun/conf/
!data/mirakurun/conf/.gitkeep
!data/mirakurun/data/
!data/mirakurun/data/.gitkeep
!data/mariadb/
!data/mariadb/.gitkeep
!data/epgstation/
!data/epgstation/.gitkeep
!data/epgstation/config/
!data/epgstation/config/.gitkeep
!data/epgstation/data/
!data/epgstation/data/.gitkeep
!data/epgstation/logs/
!data/epgstation/logs/.gitkeep
!data/epgstation/thumbnail/
!data/epgstation/thumbnail/.gitkeep

recorded/*
!recorded/.gitkeep
