# PLEX PX-W3U4 / px4_drv 用の Mirakurun チューナー設定例です。
# px4_drv では /dev/dvb ではなく /dev/px4video0..3 を使います。
# 割り当ては px4_drv README の通り、0/1 が BS/CS、2/3 が地デジです。

- name: PX-W3U4_S1
  types:
    - BS
    - CS
  command: /usr/local/bin/recpt1 --device /dev/px4video0 --lnb 15 <channel> - -
  decoder: /opt/bin/arib-b25-stream-test
  isDisabled: false

- name: PX-W3U4_S2
  types:
    - BS
    - CS
  command: /usr/local/bin/recpt1 --device /dev/px4video1 --lnb 15 <channel> - -
  decoder: /opt/bin/arib-b25-stream-test
  isDisabled: false

- name: PX-W3U4_T1
  types:
    - GR
  command: /usr/local/bin/recpt1 --device /dev/px4video2 <channel> - -
  decoder: /opt/bin/arib-b25-stream-test
  isDisabled: false

- name: PX-W3U4_T2
  types:
    - GR
  command: /usr/local/bin/recpt1 --device /dev/px4video3 <channel> - -
  decoder: /opt/bin/arib-b25-stream-test
  isDisabled: false
